<!-- title -->
<div class="container has-text-centered mt-4 mb-6">
    <p class="title">
        Create a New Post
    </p>
</div>

<!-- input -->
<div class="box mx-6">
    <div class="field">
        <label class="label">Title</label>
        <div class="control">
          <input class="input" type="title" placeholder="Post Title">
        </div>
      </div>
      
      <div class="field">
        <label class="label">Post Content</label>
        <div class="control">
          <textarea class="textarea" type="content" placeholder="Textarea"></textarea>
        </div>
      </div>
      
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary" id="new-post-submit-btn">Submit</button>
        </div>
        <div class="control">
          <button class="button is-primary is-light" id="new-post-cancel-btn">Cancel</button>
        </div>
    </div>
</div>