  {{!-- navigation --}}
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <span class="tag is-large m-4 is-primary">
        The Tech Blog
    </span>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>

        <a class="navbar-item">
          Dashboard
        </a>

      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary logout-btn">
              <strong>Logout</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

<!-- title -->
<div class="container has-text-centered">
    <p class="title">
        Create a New Post
    </p>
</div>

<!-- input -->
<div class="box mx-6">
    <div class="field">
        <label class="label">Title</label>
        <div class="control">
          <input class="input" type="text" placeholder="Post Title">
        </div>
      </div>
      
      <div class="field">
        <label class="label">Post Content</label>
        <div class="control">
          <textarea class="textarea" placeholder="Textarea"></textarea>
        </div>
      </div>
      
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary" id="new-post-submit-btn">Submit</button>
        </div>
        <div class="control">
          <button class="button is-primary is-light" id="new-post-cancel-btn">Cancel</button>
        </div>
    </div>
</div>