<!-- title -->
<div class="container has-text-centered">
    <p class="title">
        Edit Your Post
    </p>
</div>

<!-- input -->
{{#each post as |posts|}}
<div class="box mx-6">
    <div class="field">
        <label class="label">Edit Title</label>
        <div class="control">
          <textarea class="input" type="text" placeholder="New Title">{{title}}</textarea>
        </div>
      </div>
      
      <div class="field">
        <label class="label">Edit Content</label>
        <div class="control">
          <textarea class="textarea" placeholder="Edit Content">{{content}}</textarea>
        </div>
      </div>
      
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary">Submit</button>
        </div>
        <div class="control">
          <button class="button is-primary is-light">Cancel</button>
        </div>
    </div>
</div>
{{/each}}