  {{!-- navigation --}}
  {{!-- <nav class="navbar" role="navigation" aria-label="main navigation">
    <span class="tag is-large m-4 is-primary">
        The Tech Blog
    </span>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>

        <a class="navbar-item">
          Dashboard
        </a>

      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary logout-btn">
              <strong>Logout</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav> --}}

<!-- title -->
<div class="container has-text-centered">
    <p class="title">
        {{name}} Posts
    </p>
    <p class="subtitle">
        - here are the posts you've created -
    </p>
</div>

<!-- my posts -->
{{#each post as |posts|}}
<div class="card m-4">
    <header class="card-header">
      <p class="card-header-title">
        {{title}}
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        {{content}}
        <br>
        {{date}}
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" class="card-footer-item" id="post-edit-btn">Edit</a>
      <a href="#" class="card-footer-item" id="post-delete-btn">Delete</a>
    </footer>
</div>
{{/each}}

<div class="container has-text-centered">
    <button class="button is-primary m-4" id="new-post-btn">+ New Post</button>
</div>