{{!-- navigation --}}
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <span class="tag is-large m-4 is-primary">
        The Tech Blog
    </span>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>

        <a class="navbar-item">
          Dashboard
        </a>

      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary logout-btn">
              Logout
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

<!-- title -->
<div class="container has-text-centered mt-4 mb-6">
    <p class="title">
        Edit Your Post
    </p>
</div>

<!-- input -->
{{#each post as |posts|}}
<div class="box mx-6">
    <div class="field">
        <label class="label">Edit Title</label>
        <div class="control">
          <textarea class="input" type="text" placeholder="New Title">{{title}}</textarea>
        </div>
      </div>
      
      <div class="field">
        <label class="label">Edit Content</label>
        <div class="control">
          <textarea class="textarea" placeholder="Edit Content">{{content}}</textarea>
        </div>
      </div>
      
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary">Submit</button>
        </div>
        <div class="control">
          <button class="button is-primary is-light">Cancel</button>
        </div>
    </div>
</div>
{{/each}}