  {{!-- navigation --}}
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <span class="tag is-large m-4 is-primary">
        The Tech Blog
    </span>

    <div id="navbarBasicExample" class="navbar-menu">
      {{!-- <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>

        <a class="navbar-item">
          Dashboard
        </a>

      </div> --}}

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary signup-btn">
              Sign up
            </a>
            <a class="button is-primary is-light login-btn">
              Log in
            </a>
            <a class="button is-light logout-btn">
              Logout
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

<!-- title -->
<div class="container has-text-centered">
    <p class="title">
        Welcome to the Blog!
    </p>
    <p class="subtitle">
        - here are our recient posts -
    </p>
</div>

<!-- cards -->
{{#each post as |posts|}}
<div class="box">
    <article class="media">
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{title}}</strong>
                    <br>
                    {{content}}
                    <br>
                    <small>posted by {{author}}</small> <small>on {{date}}</small>
                </p>
            </div>
        </div>
    </article>
</div>
{{/each}}

<script src="js/login.js"></script>
<script src="js/logout.js"></script>