
<!-- title -->
<div class="container has-text-centered">
    <p class="title">
        Welcome to the Blog!
    </p>
    <p class="subtitle">
        - here are our recient posts -
    </p>
</div>

<!-- cards -->
{{#each posts as |post|}}
<div class="box mx-6">
    <article class="media">
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{post.title}}</strong>
                    <br>
                    {{post.content}}
                    <br>
                    <small>posted by {{post.author}}</small> <small>on {{post.date}}</small>
                </p>
            </div>
        </div>
    </article>
</div>
{{/each}}

<script src="js/main.js"></script>
<script src="js/logout.js"></script>