
<!-- title -->
<div class="container has-text-centered mt-4 mb-6">
    <p class="title">
        Sign up
    </p>
</div>

<!-- input -->
<div class="box mx-6">
  <div class="field">
    <p class="control">
      <label class="label">Username</label>
      <input class="input" type="username" placeholder="Username" id="signup-username">
    </p>
  </div>
  <div class="field">
    <p class="control">
      <label class="label">Email</label>
      <input class="input" type="email" placeholder="Email" id="signup-email">
    </p>
  </div>
  <div class="field">
    <p class="control">
      <label class="label">Password</label>
      <input class="input" type="password" placeholder="Password" id="signup-password">
    </p>
  </div>
  <div class="field">
    <p class="control">
      <button class="button is-primary" id="signup-btn">
        Sign up
      </button>
      <button class="button is-primary is-light login-btn">
        Log in
      </button>
    </p>
  </div>
</div>

<script src="/js/signup.js"></script>