  {{!-- navigation --}}
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <span class="tag is-large m-4 is-primary">
        The Tech Blog
    </span>

    {{!-- <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>

        <a class="navbar-item">
          Dashboard
        </a>

      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div> --}}
  </nav>

<!-- title -->
<div class="container has-text-centered">
    <p class="title">
        Sign up
    </p>
</div>

<!-- input -->
<div class="box mx-6">
  <div class="field">
    <p class="control">
      <label class="label">Username</label>
      <input class="input" type="username" placeholder="Username" id="signup-username">
    </p>
  </div>
  <div class="field">
    <p class="control">
      <label class="label">Email</label>
      <input class="input" type="email" placeholder="Email" id="signup-email">
    </p>
  </div>
  <div class="field">
    <p class="control">
      <label class="label">Password</label>
      <input class="input" type="password" placeholder="Password" id="signup-password">
    </p>
  </div>
  <div class="field">
    <p class="control">
      <button class="button is-primary" id="signup-btn">
        Sign up
      </button>
      <button class="button is-primary is-light" id="signup-login-btn">
        Log in
      </button>
    </p>
  </div>
</div>

<script scr="/js/login.js"></script>