<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <span class="tag is-large m-4 is-primary">
        The Tech Blog
    </span>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>

        <a class="navbar-item">
          Dashboard
        </a>

      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <main>

<!-- title -->
<div class="container has-text-centered">
    <p class="title">
        Edit Your Post
    </p>
</div>

<!-- input -->
<div class="box mx-6">
    <div class="field">
        <label class="label">Edit Title</label>
        <div class="control">
          <textarea class="input" type="text" placeholder="New Title">This is the current content.</textarea>
        </div>
      </div>
      
      <div class="field">
        <label class="label">Edit Content</label>
        <div class="control">
          <textarea class="textarea" placeholder="Edit Content">This is the current content.</textarea>
        </div>
      </div>
      
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary">Submit</button>
        </div>
        <div class="control">
          <button class="button is-primary is-light">Cancel</button>
        </div>
    </div>
</div>

  </main>
  <footer>
      
  </footer>
</body>

</html>
